body{
	font-size:12px;
	font-family:'ו';
	padding:0;
	margin:2px 0 0 2px;
}
.toolbar{
	background:url(../../images/imgall.png) 0 223px;
	height:30px;
}
#tabs{
	background:none;
}
#tabs div.tabs-content{
	padding:3px;
	margin:0;
}
.ui-tabs .ui-tabs-nav li a { 
	float: left; 
	text-decoration: none; 
	padding: 3px 5px; 
}
.ui-tabs .ui-tabs-nav li { 
	position: relative; 
	float: left; 
	border-bottom-width: 0 !important; 
	margin: 0 2px -1px 0; 
	padding: 0; 
}
.myTable{
	border-collapse:collapse;
	border:none;
	font-size:12px;
	font-family:'ו';
}
.myTable th{
	width:650px;
	border-top:#E39F18 2px solid;
	border-bottom:#E39F18 1px solid;
	line-height:25px;
	color:#124D5A
}
.myTable td{
	border-bottom:#E39F18 1px DASHED;
}
.myTable P.label{
	text-align:right;
	padding:0;
	margin:0;
	padding-right:3px;
	color:blue;
	line-height:23px;
}
.myTable Label{
	padding:0;
	margin:0;
	color:blue;
	line-height:23px;
}
.myTable td.foot{
	border-bottom:#E39F18 1px solid;
	line-height:20px;
}
.table-none{
	border-collapse:collapse;
	border:none;
	font-size:12px;
	font-family:'ו';	
}
.table-none td{
	border:none;
}
.table-none P.label{
	text-align:right;
	padding:0;
	margin:0;
	padding-right:3px;
	color:blue;
	line-height:23px;
}
.table-none Label{
	padding:0;
	margin:0;
	color:#152444;
	line-height:23px;
}
.input-text{
	width:150px;
	height:14px;
}
.input-select{
	width:156px;
	height:20px;
}
.input-select-self{
	width:156px;
	height:20px;
}
.input-radio{

}
.input-radio-event{

}
.textarea{
	width:90%;
	height:40px;
}
.select-icon{
	background:url(../../Scripts/JQuery/button/style/icons/pick-button.gif);
	width:15px;
	height:20px;
}
.ico_expand{
	background:url(../../images/master.png) no-repeat -160px -160px;
	width:12px;
	height:12px;
	display:inline;
	zoom:1;
	cursor:pointer;
	margin:9px;
	float:left;
}
.ico_collapse{
	background:url(../../images/master.png) no-repeat -128px -160px;
	width:12px;
	height:12px;
	display:inline-block;
	zoom:1;
	cursor:pointer;
	margin:9px;
	float:left;
}
.item_head{
	background:url(../../images/master.png) repeat-x 0 -1050px;
	border:solid 1px #5d5d5d;
	height:30px;
	cursor:pointer;
}
.item_title{
	font-size:14px;
	font-weight:bolder;
	line-height:30px;
	float:left;
}
.item_content{
	border:solid 1px #5d5d5d;
	border-top:none;
}
.btn {
	BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid
}
