.titletd{
	background-color: #f5f5f5;
	padding:3px;
	border-top:solid 1px #ffffff;
	border-left:solid 1px #ffffff;
	border-bottom:solid 1px #dddddd;
	border-right:solid 1px #dddddd;
}
.smalltd{
	background-color: #eff3fe;
	padding:3px;
	border-top:solid 1px #ffffff;
	border-left:solid 1px #ffffff;
	border-bottom:solid 1px #dddddd;
	border-right:solid 1px #dddddd;
}
.contenttd{
	padding:5px;
}
.replytd{
	background-color: #D1EEEE;
	border-top:solid 1px #ffffff;
	border-left:solid 1px #ffffff;
	border-bottom:solid 1px #dddddd;
	border-right:solid 1px #dddddd;
}
.ablock{
	margin-left:50px;
	border:solid 1px #dddddd;
	width:600px;
}