<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<!--欢迎界面-->
	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
	<!--项目启动配置-->
	<listener>
		<description>Project Init Listener</description>
		<listener-class>com.juncsoft.KLJY.filter_listener.ContextListener</listener-class>		
	</listener>
	<listener> 
		<listener-class>com.juncsoft.KLJY.filter_listener.TaskListener</listener-class> 
	</listener>
	<display-name>TCMP</display-name> 
	<!--字符编码过滤器-->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.juncsoft.KLJY.filter_listener.EncodingFilter</filter-class>
		<init-param>
			<param-name>request</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>response</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--Session超时过滤器
	<filter>
		<filter-name>TimeOutFilter</filter-name>
		<filter-class>com.juncsoft.KLJY.filter_listener.TimeOutFilter</filter-class>
		<init-param>
			<param-name>noSession</param-name>
			<param-value>/PUBLIC/images,/PUBLIC/Scripts,/module/Login,//index.html,/index.html,/PUBLIC/CommonPage/timeout.html,/user.do</param-value>
		</init-param>
		<init-param>
			<param-name>timeout_page</param-name>
			<param-value>/PUBLIC/CommonPage/timeout.html</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>TimeOutFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->
	<!--Struts配置-->
  	<servlet>
	    <servlet-name>action</servlet-name>
	    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	    <init-param>
	      <param-name>config</param-name>
	      <param-value>/WEB-INF/struts-config.xml</param-value>
	    </init-param>
	    <init-param>
	      <param-name>debug</param-name>
	      <param-value>3</param-value>
	    </init-param>
	    <init-param>
	      <param-name>detail</param-name>
	      <param-value>3</param-value>
	    </init-param>
	    <load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
	  	<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- 获取验证码的Servlet -->
	<servlet>
		<servlet-name>AuthCodeServlet</servlet-name>
		<servlet-class>com.juncsoft.KLJY.Public.servlet.AuthCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthCodeServlet</servlet-name>
		<url-pattern>/auth.gif</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>